appnope==0.1.0
asn1crypto==0.24.0
backcall==0.1.0
bleach==3.1.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
cvxopt==1.2.1
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
h5py==2.8.0
html5lib==1.0.1
IBMQuantumExperience==2.0.2
idna==2.7
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.8.3
mpmath==1.0.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.1
notebook==5.7.0
ntlm-auth==1.2.0
numpy==1.15.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
ply==3.11
prometheus-client==0.3.1
prompt-toolkit==1.0.15
psutil==5.4.7
ptyprocess==0.6.0
pycparser==2.18
Pygments==2.2.0
pyobjc-core==4.2.2
pyobjc-framework-Cocoa==4.2.2
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
pyzmq==17.1.2
qiskit==0.5.7
qiskit-acqua==0.1.2
qiskit-acqua-chemistry==0.1.1
qtconsole==4.4.1
requests==2.19.1
requests-ntlm==1.1.0
scikit-learn==0.19.2
scikit-optimize==0.5.2
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sympy==1.2
terminado==0.8.1
testpath==0.3.1
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
